.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo {
  float: left;
  margin: 0;
  padding: 20px;
}
/* login style */
.headpad{
  padding-bottom: 10vh;
}
.footpad{
  padding-bottom: 40vh;
}
.footpad2{
  padding-bottom: 30vh;
}
/* end login style */

/* card style */
.click:hover{
  text-decoration: none;
  text-decoration-color:black;
  color: white;
}
/* end card style */

/* header style */
.head{
  color: white;
}
.head:hover{
  text-decoration: underline;
  text-decoration-color: rgb(241, 159, 7);
  color: black;
}
.links{
  text-decoration: none;
  color: white;
}
.links:hover{
  text-decoration: none;
  color: black;
}
.linksize{
  font-size: 20px;
}
.span{
  background-color: red;
  color: white;
  border-radius: 100%;
  padding: 1px 5px;
}
.carticon{
  font-size: 40px;
}
/* end header style */

/* product UI style */
.search{
  width: 100%;
}
.img{
  width: 80%;
}
.items{
  border: 1px solid black;
  margin: 1% 3% 3% 5%;
  padding-top: 1%;
}
.mainfoot{
  padding-bottom: 80vh;
}
/* end product Ui style */

/* cart page style */
.table{
  /* border-collapse: collapse; */
}
.table th{
  border:  3px solid black;
  padding: 10px;
}
.table td{
  border:  1px solid black;
  padding: 10px;
}
.adjust-price{
  display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.adjust-price span{
  font-size: 20px;
  font-weight: bold;
}
.price{
  padding-bottom: 55vh;
}
.cardlabel{
  font-size: 20px;
  font-weight: bold ;
}
.cardicon{
  font-size: 30px;
}
/* end cart page style */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
